body {
    font-family: Arial, Helvetica, sans-serif;
    color: #777;
    background: #777;
    width: 960px;
    font-size: 18px;
    margin: 0 25%;
}

#header {
    width: auto;
    background: #ebebeb;
    margin: 2% auto;
    text-align: center;
    padding: 30px;
}

#nav {
    width: auto;
    background: #ebebeb;
    margin: auto;
    text-align: center;
    padding: 30px;
}

#section {
    background: #ebebeb;
    margin: 2% auto;
    height: 300px;
    width: 56%;
    position: relative;
    text-align: center;
    float: left;
    padding: 10px 0 0 0;
}

#aside {
    background: #ebebeb;
    text-align: center;
    height: 300px;
    width: 42%;
    float: right;
    margin: 2% auto;
    padding: 10px 0 0 0;
}

#article {
    position: absolute;
    background: #777;
    color: #ebebeb;
    height: 75%;
    width: 95%;
    margin: 0 2.5%;
    text-align: center;
}

#subarticle {
    position: absolute;
    background: #ebebeb;
    height: 30%;
    width: 90%;
    margin: .5% 5%;
    color: #777;
    text-align: center;
}

#p {
    position: absolute;
    background: #ebebeb;
    height: 30%;
    width: 90%;
    margin: .5% 5%;
    color: #777;
    text-align: center;
    bottom: 10%
}

#footer {
    clear: both;
    margin: auto;
    background: #ebebeb;
    width: auto;
    text-align: center;
    padding: 30px;
}